<div class='panel panel-primary'>
    <div class='panel-heading'>
          <span *ngIf="moviesDetails">Edit Movie {{moviesDetails.title | capitalizeFirst : true}} </span>  
    </div>
    <div class='panel-body'>
        <div class="row">
            <div class="col-sm-12">

                <form class="form-horizontal">
                  <fieldset>
                    <div class="form-group">
                      <label class="col-md-2">kujer</label>
                      <div class="col-md-8">
                        <input type="text" class="form-control" />
                      </div>
                    </div>
                  </fieldset>
                </form>

            </div>
        </div>
    </div>
    <div class='panel-footer'>
        <a class='btn btn-default' (click)='onBack()'>
            <i class='glyphicon glyphicon-chevron-left'></i> Cancel
        </a>
        <!-- <a tooltip="Remove" class='btn btn-primary pull-right' (click)='onTrash()' style="margin-left:10px;">
            <i class='glyphicon fa fa-trash'></i> Remove
        </a> -->
    </div>
</div>