<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary">
          <div class="panel-heading">{{pageTitle}}</div>  
          <div class="panel-body">
            <div class='row'>
                <div class="col-md-12">
                    <form class="form-horizontal">
                        <div class="form-group">
                          <label class="col-sm-2 control-label" for="listFilter">Filter by:</label>
                          <div class="col-sm-6">
                              <input type="text" [(ngModel)]='listFilter' name="list-filter" class="form-control" id="listFilter" placeholder="Search key">
                          </div>
                        </div>
                      </form>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-6'>
                    <h4>Filtered by: {{listFilter}} </h4>
                </div>
            </div>
            <div class='table-responsive' *ngIf="moviesList && moviesList.length">
              <h5>{{title}}</h5>
              <div class="col-md-4" *ngFor="let item of moviesList | searchFilter : listFilter">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                      <span class="">{{item.title | capitalizeFirst : true}}</span> 
                      <a [routerLink]="['/product', item.id]" tooltip="View Details   {{item.title}}" class="view-detail"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <a [routerLink]="['/product', item.id]"><img [src]="item.img" [width]="imgwidth" [height]="imgHeight"  [alt]="item.title" [title]="item.title" /></a>
                            </div>
                            <div class="col-md-8">
                                <ul class="data-list">
                                    <li>
                                        <span class="head-text">Name:-</span>
                                        <span class="body-text">{{item.title | capitalizeFirst : true}}</span>
                                    </li>
                                    <li>
                                        <span class="head-text">Distributor:-</span>
                                        <span class="body-text">{{item.distributor | capitalizeFirst}}</span>
                                    </li>
                                    <li *ngIf="item.tags">
                                        <span class="head-text">Tags:-</span>
                                        <span class="body-text" *ngFor="let tag of item.tags">
                                            <span class="tag">{{tag | capitalizeFirst}}</span>
                                        </span>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                    <div class="panel-footer clearfix">
                        <strong> {{item.worldwideGross | currency:'₹ '}} crore</strong> 
                        <span class="pull-right" [tooltip]="item.rating">
                            <!-- <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i> -->
                            <star-rating [rating]='item.rating' (ratingClicked)='onRatingClicked($event)'></star-rating>
                        </span>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>